
@{
	/**/

	ViewBag.Title = "Login";
}

<h2>Введите ваш телефон : </h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl);

	<div class="form-group">
		<div class="col-md-10">
			<label class="control-label col-md-2"> </label>

			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">+7</span>
				</div>
				<div>
					@Html.TextBox("phone", "", new { @class = "form-control", @placeholder = "Телефон" })
				</div>
			</div>
		</div>
	</div>

	<div class="text-danger">
		@TempData["Status"]
	</div>


	<button class="btn btn-primary">Войти</button>

	@*<div>
		@Html.ActionLink("Регистрация", "Registration", "Account")
	</div>*@

	<div>
		@Html.ActionLink("Вход для тренеров", "AdminLogin", "Account")
	</div>

	@*<div class="input-group mb-3">
			@Html.TextBox("phone", "", new { @class = "form-control", @placeholder = "Логин" })
		</div>

		<div class="input-group mb-3">
			@Html.Password("password", "", new { @class = "form-control", @placeholder = "Пароль" })
		</div>*@
}
